*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  /* весь контент страницы */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  gap: 30px;
  margin: 0 auto;
  padding: 133px 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.result {
  /* секция с выбранным видео */
  align-self: end;
  min-height: 456px;
  margin-bottom: 4px;
}

.result__video-container {
  /* контейнер с выбранным видео */
  position: relative;
  z-index: 1;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  /* position: absolute;
  inset: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0%;
}

.search-form {
  /* форма поиска видео */
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  /* форма ввода */
  border: none;
}

.search-form__fieldset-title {
  /* заголовок формы ввода */
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #fff;
  margin-bottom: 5px;
}

.search-form__textfield {
  min-width: 225px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 23px;
  word-spacing: 1px;
  background-color: inherit;
  color: rgb(255 255 255 / 0.7);
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  appearance: none; /* сбрасывает системные стили */
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  min-width: 212px;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background-color: inherit;
  border: 1px solid #fff;
  vertical-align: middle;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-form__label-text {
  padding-left: 5px;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  color: #fff;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
  border: none;
}

button {
  background-color: inherit;
  border: 1px solid #fff;
  align-self: flex-end;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  appearance: none;
}

.button:hover {
  text-decoration: underline;
  color: #fff;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus-visible {
  border: 1px solid #fff;
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  width: 100%;
  min-height: 540px;
  align-self: first baseline;
}

.title {
  /* заголовок контейнера с карточками */
  margin-bottom: 20px;
  padding-top: 4px;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list {
  /* блок с темплейтами карточек */
  position: relative;
  z-index: 1;
  max-height: 298px;
  overflow: scroll;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

/* темплейт карточки */

.cards-list-item-template {
}

.content__list-item {

}

.content__list-item:not(:last-of-type) {
  /* список каpточек */
  margin-bottom: 32px;
}

.content__card-link {
  text-decoration: none;
  appearance: none;
}

.content__card-link:hover {
  text-decoration: underline;
  color: #fff;
}

.content__card-link:active + .content__list-item {
  background-color: #545050;
}

.content__card-link:has(:focus-visible) {
  border: none;
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

.content__video-card-description-container {
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 193px;
  height: 103px;
  object-fit: cover;
  object-position: 0%;
}

/* кнопка показать еще */

.more-button {
  width: 100%;
  height: 34px;
}

.more-button:focus-visible {
  overflow: visible;
  border: 1px solid #fff;
  outline: 1px solid white;
  outline-offset: 1px;
}